{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block description %}Consultez la liste des articles sur le blog de Julie Dupont{% endblock %}

{% block keywords %}Blog, Articles, Jean, Dupont, Medecine{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des articles</h1>
{% endblock %}