{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Contactez-moi{% endblock %}

{% block description %}Contactez-moi sur le blog de Julie Dupont{% endblock %}

{% block keywords %}Blog, Articles, Jean, Dupont, Medecine{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Contactez-moi</h1>
{% endblock %}