{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}Bienvenue sur le blog de Jean Dupont{% endblock %}

{% block keywords %}Blog, Articles, Jean, Dupont, Medecine{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello</h1>
{% endblock %}